html, body
{
  background-color: #e9ebec;
  color: #2e2f30;
  letter-spacing: 0.5px;
  /*font-family: "Source Sans Pro", Arial, sans-serif;*/
  font-family: Roboto,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

img{
  max-width: 100%;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}


.f-cl::before {
  display: table;
  content: ""; }

.f-cl::after {
  display: table;
  content: "";
  clear: both; }

.f-fl {
  float: left; }

.f-fl-i {
  float: left !important; }

.f-fr {
  float: right; }

.f-fr-i {
  float: right !important; }


.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }




.mgb-default{
  margin-bottom: 20px;
}




